/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar a:hover {
  background-color: #f3c53c;
}

.navbar a.active {
  background-color: orange;
  color: white;
}

.navbar-brand {
  font-size: 30px;
  font-family: 'Libre Franklin', sans-serif;
}


.nav-link {
  opacity: 0.5;
}


h1 {
  color: rgb(0, 51, 161);
  font-weight: bold;
  font-family: 'Galada, Abril Fatface', 'Ralway';
}


header p {
  font-style: bold;
}

header {
  height: 800px;
  width: 100%;
  background-color: #f3c53c;

  background-size: cover;
  text-align: center;
}

.services {
  text-align: center;
}

.services i {
  /*Adjust the size and position of the icon*/
  font-size: 30px;
  padding: 25px 20px;

  /*Color changes the color of the icon*/
  color: rgb(0, 51, 161);
  background-color: #f3c53c;

  /*Resize the container the icon is in*/
  height: 80px;
  width: 80px;

  /*Changes the roundness of the container*/
  border-radius: 50%
}

.database-icon {
  /* insert something for the database class */
}

.service span {
  width: 200px;
  /* display: inline-block; */
}

.team {
  text-align: center;
}

/* Team Section */
.team img {
  border-radius: 50%
}


/* Icons Adjustment */
.team i {
  font-size: 15px;
}

/* Contact */

.contact {
  text-align: center;
}

.contact .inputgroup {
  padding: 20px;
}

.contact i {
  padding: 25px;
}

.contact .btn {
  width: 100%; 
  color: #f3c53c;
  background-color: rgb(0, 51, 161);
  border-radius: 0;
}

.contact .btn:hover {
  background-color: grey;
}


.hdr {
  font-size: 20px;
}

.footericons i {
  padding-right: 30px;
}

.navbar-brand {
  font-family: 'Ralway';

}